@font-face {
                        font-family: PostNoBillsJaffna;
                        font-display: swap;
                        src: url("../fonts/PostNoBillsJaffna-Bold.woff2") format("woff2"), url("../fonts/PostNoBillsJaffna-Bold.woff") format("woff");
                        font-weight: 700;
                        font-style: normal;
                     }
