@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
	background: #777;
	color: #fff;
	display: flex;
	flex-direction:column;
}
/*___blok__________________________________________________________*/
._conteyner{
	max-width: 1240px;
	margin: 0px auto;
	padding: 0px 15px;
}
._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
._kaushan {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	text-align: center;
	color: #333;

}
._moseratstyle{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #333;
}
._moseratstyle:after{
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	margin: 40px auto 47px;
	background: #f38181;
}
._text{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: center;
	line-height: 1.6;
	color: #999;
}
/*___menu__________________________________________________________*/
.heder {
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
.heder__conteyner{
	min-height: 86px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
@media (max-width:780px) {
	.heder__conteyner{
		min-height: 65px;
	}
}
.logo {
	font-size: 30px;
	font-weight: bold;
	padding: 0px 15px 0px 0px;
}
@media 	(max-width: 739px) {
	.logo{
		font-size: 25px;	
	}
}
@media 	(max-width: 360px) {
	.logo{
		font-size: 20px;	
	}
}
.menu {
	font-size: 14px;
	
	
}
.menu__list {
	max-width: 620px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.menu__link {
	margin: 6px;
	text-transform: uppercase;
	color: #fff;
}
.search__link:not(:first-child) {
	margin: 0px 0px 0px 42px ;
}
@media (max-width: 375px) {
	.search__link:not(:first-child) {
		margin: 0px 0px 0px 32px ;
}
}
._active {
	color: #fce38a;
	border-bottom: 2px solid #fce38a;
	padding: 0px 0px 12px 0px;
}
@media (max-width: 590px) {
	._active{
		padding: 0px 0px 3px 0px;
	}
}
/*======burger-menu===========================================================*/
.menu-burger {
	// display: none;
	position: absolute;
	right: 15px;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 500px;
	// background: #990;
	// span{

	// }
}
.click-span{
	display: flex;
	align-items: center;
	position: relative;
	content: '';
	width: 30px;
	height: 30px;
	span{
		width: 30px;
		height: 2.5px;
		background: #fff;
		margin: 0px auto;
	}
	span:after,
	span:before{
		position: absolute;
		content: '';
		width: 30px;
		height: 2px;
		background: #fff;
	}
	span:before{
		// height: 2px;
		top: 5px;
	}
	span:after{
		height: 3px;
		bottom: 5px;
	}
}

@media (min-width:428px) {
	.menu-burger ~:checked{
		span{
			transform: rotate(45dec);
		}
		
}
}

/*___page__________________________________________________________*/
.page{
	flex: 1 1 auto;

}
.welcome-to-mogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	z-index: 2;
	height: 528px;
	width: 802px;
}
.welcome-to-mogo__subtitle {
	font-size: 72px;
	text-align: center;

}

.welcome-to-mogo__title {
	font-size: 150px;
	line-height: 0.93;
	font-weight: bold;
	text-align: center;
	max-width: 802px;
}
.page__conteyner{
	display: flex;

}
.main__block{
	position: relative;
	height: 1000px;
}
.main__body {
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 143px 0px 157px 0px;
}
.main__subtitle {
	color: #fff;
	font-size: 72px;
}
@media (max-width: 805px) {
	.main__subtitle{
		font-size: 62px;
	}
}
@media (max-width: 660px) {
	.main__subtitle{
		font-size: 45px;
	}
}
@media (max-width: 555px) {
	.main__subtitle{
		font-size: 40px;
	}
}
.main__title {
	font-size: 150px;
	font-weight: bold;
	max-width: 802px;
	margin: 0px auto;
	line-height: 1;
}
@media (max-width: 805px) {
	.main__title{
		font-size: 125px;
	}
}
@media (max-width: 660px) {
	.main__title{
		font-size: 100px;
	}
}
@media (max-width: 555px) {
	.main__title{
		font-size: 80px;
	}
}
@media (max-width: 555px) {
	.main__title{
		font-size: 65px;
	}
}
.main__title:after {
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 70px auto 50px;
}
.main__imga {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.main__alink{
	width: 160px;
	height: 40px;
	padding: 14px 32px;
	border: 1px solid #fff;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	
}
.main__list {
	position: relative;
	z-index: 2;
	display: flex;
	min-width: 100%;
	justify-content: space-between;
	margin: 0px 0px 28px 0px;
}
@media (max-width: 670px) {
	.main__list{
		flex-direction: column;
	}
}
.main__slider {
	width: 280px;
	height: 45px;
	border-top: 3px solid #fff;
	padding: 28px 0px 0px 0px;
	margin: 0px 0px 10px 10px;
	text-transform: uppercase;
}
.main__silderbold {
	font-weight: bold;
}
/*============main_block2==============================================*/
.content__subtitle {
	margin: 91px 0px 20px;
}
.blocks__imgas {
	display: flex;
	justify-content: space-between;
	margin: 100px 0px 110px 0px;
	align-items: center;
}
@media (max-width: 1225px) {
	.blocks__imgas {
		flex-direction: column;
		align-items: center;
	}
}
.block__imga{
	margin: 10px 0px 0px 0px;
	background: #95e1d3;
}
.block__imga-bg:hover{
	position: relative;
	top: -10px;
	left: -10px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fce38a+0,f38181+100 */
	background: rgb(252,227,138); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,227,138,1) 0%, rgba(243,129,129,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(252,227,138,1) 0%,rgba(243,129,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(252,227,138,1) 0%,rgba(243,129,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce38a', endColorstr='#f38181',GradientType=0 ); /* IE6-9 */
}

.block__imga-bg img:hover{
	opacity: 0.2;
}
/*===================main-content3=========================================================*/
.main__block3 {
	max-height: 270px;
	background: #95e1d3;
}
.main__content3-list {
	display: flex;
	justify-content: space-around;
	padding: 90px 0px;
}
.main__content3-number {
	
	text-align: center;
	span{
		display: block;
		font-size: 72px;
		font-weight: bold;
		margin: 0px 0px 30px 0px;
		
	}
}
@media (max-width: 798px) {
	.main__content3-number {
	text-align: center;
	span{
		display: block;
		font-size: 52px;
		font-weight: bold;
		margin: 0px 0px 20px 0px;
		}
	}
	.main__content3-list {
		padding: 60px 0px;
	}
}
@media (max-width: 633px) {
	.main__content3-number {
	text-align: center;
	span{
		display: block;
		font-size: 32px;
		font-weight: bold;
		margin: 0px 0px 20px 0px;	
		}
	}
	.main__content3-list {
		padding: 30px 0px;
	}
}
/*======================main_blok4======================================*/
.main_heder4{
	margin: 110px 0px 0px 0px;
}
.subtitle{
	margin: 0px 0px 20px 0px;
}
.main__block4 {
	margin: 0px 0px 110px 0px;	
}
.blocks-gruppe {
	color: #000;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	position: relative;
}
.blocks-gruppe:after{
	content: '';
	position: absolute;
	top: 120px;
	width: 100%;
	height: 1px;
	background: #e5e5e5;
}
.blocks-gruppe:before{
	content: '';
	position: absolute;
	top: 290px;
	width: 100%;
	height: 1px;
	background: #e5e5e5;
}
.block1 {
	max-height: 70px;
	display: flex;
	flex: 0 0 333px;
	margin: 0px 0px 20px 0px;
}
.block1:first-child{
	margin: 0px 0px 100px 0px;
}
.block1:nth-child(3){
	margin: 0px 0px 100px 0px;
}
.block1__text {
	margin: 0px 0px 0px 20px;
}
.block1__title-text {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	font-family: Montserrat;
	margin: 0px 0px 10px 0px ;
	

}
.block1__subtitle-text {
	color: #999;
	object-fit: contain;
	font-family: Roboto;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: normal;
	text-align: left;

}
@media (max-width: 698px) {
	.blocks-gruppe:after,
	.blocks-gruppe:before{
		display: none;
	}
	.block1:first-child,
	.block1:nth-child(3){
		margin: 0px 0px 20px 0px;
	}
	.blocks-gruppe{
		justify-content: center;
	}
}
/*====================main__block5=============================*/
.block5bg{
	position: absolute;	
	top: 0;	
	left: 0;
	width: 100%;
	height: 100%;	
	background: rgba(255, 255, 255, 0.85);
	opacity: 0.2;
	object-fit: cover;

}
.main__block5{
	padding: 110px 0px 637px 0px;
	position: relative;	
	display: flex;	
	justify-content: center;	
	flex-direction: column;
	max-width: 100%;	
}
.main__body5 {
	position: absolute;
	bottom: 0;
	right: 30%;			
	z-index: 2;
	margin: 0px 0px -90px 0px;

}
.main__imga-p {
	position: relative;	
	top: -90px;		
		
}
.main__imga-m {
	position: absolute;
	left: 362px;
	bottom: 0;
}
@media (max-width: 	765px) {
	.main__imga-m{
		left: 55%;	
	}
	.main__body5{
		right: 12%;	
	}
}
@media (max-width: 	550px) {
	.main__imga-m{
		img{
			width: 100%;	
		}
		bottom: 0;	
		right: 0;	
	}
	.main__body5{
		img{
			max-width: 100%;
		}
		
		left: 0;
		right:5%;	
	}
	.main__imga-p{
		right: -5%;	
		width: 80%;
	}
}
/*====================main__block6======================================*/
.main__block6{
	margin: 110px 0px 120px 0px;
	color: #333333;
}
.main__heder6{
	margin: 0px 0px 92px 0px;
}
.main__body6 {
	display: flex;
}
.imga {
	img{
		max-width: 100%;
	}
	margin: 0px 0px 0px 10px;
	flex: 0 0 50%;
}
.main__comteyner-body6 {
	display: flex;
	flex-direction: column;
	flex: 0 0 50%;
}
.main__content-body6 {
	margin: 0px 0px 10px 0px;
}
.img{
	background-image: srl('../../img/sb.png')
}
.main__content-body6-heder {
	img{
		margin: 15px;
	}
	p{
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;
		
	}
	max-height: 60px;
	max-width: 600px;
	border: 1px solid #999999;
	// margin: 0px 0px 10px 0px;
	display: flex;
	align-items: center;
	position: 	relative;	
	
}
.main__content-body6-heder:before,
.main__content-body6-heder:after{
	content: '';
	width: 10px;
	height: 1px;
	background: #000;
	position: absolute;
	top: 30px;
	right: 0;	
}
.main__content-body6-heder:before{
	transform: rotate(40deg) ;
	right: 29px;
}
.main__content-body6-heder:after{
	transform: rotate(-40deg) ;
	right: 20px;
}
.main__content-body6-text {
	display: none;		
	border: 1px solid #9999;
	max-width: 600px;
	max-height: 180px;
	padding: 20px 55px 28px 20px;
	overflow: scroll ;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
 	font-stretch: normal;
	font-style: italic;
	line-height: 1.6;
	color: #999;	
}
.active{
	display: block;
}
@media (max-width: 1220px) {
	.main__body6{
		flex-direction: column;
		// flex-wrap:wrap;
		align-items: center;
		// justify-content: center;
	}
	.imga{
		flex: 0 0 auto;
		margin: 0px 0px 20px 0px;
	}
	.main__comteyner-body6{
		flex: 0 0 auto;
	}
}
.main__content6-slaider {
	margin: 120px 0px 0px 0px;
	background: #f8f8f8;
}
.slaider__body {
	display: flex;
	justify-content: space-between;
	// flex-wrap:wrap;	
	align-items: center;
	margin: 0px 110px;
}
.imga-icon {
	max-width: 150px;
	max-height: 150px;
	display: flex;
	padding: 44px;
	margin: 70px 10px 70px 0px ;
	border: 3px solid #95e1d3;
}
.slaider__texts {
	max-width: 800px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.5;
  	color: #999;
  	.span-text{
  		position: relative;
  		text-align: left;
  		padding: 0px 0px 0px 63px;
  	}
  	.span-text:before{
  		content: '';
  		position: absolute;
  		top: 50%;
  		left: 0px;
  		width: 60px;
  		height: 3px;
  		background: #f38181;
  	}
}
@media (max-width: 	1200px) {
	.slaider__body{
		flex-direction: column;
		justify-content: center;
		text-align: center;	
		margin: 0;
		font-size: 15px;	
	}
	.slaider__texts{
		font-size: 16px;	
	}
	.span-text{
		display: inline-block;
		margin: 0px 0px 70px 0px;

	}
	.imga-icon{
		padding: 24px;	
		margin: 70px 0px 20px 0px ;
		
	}
}
/*====================main__block7================================*/
.main__text7{
	margin: 45px 0px 92px 0px;
}
.main__body7 {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;	
	margin: 0px 0px 115px 0px;
}
.main__content7-item {
	color: #000;
	margin: 20px 10px ;
}
.imga7 {
	background: #95e1d3;
	position: relative;	
	width: 380px;
	height: 470px;	
}
.imga7-bg:hover{
	position: relative;	
	top: -10px;
	left: -10px;
	background: rgb(252,227,138); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(243,129,129,1) 0%, rgba(252,227,138,1) 100% ); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(243,129,129,1) 0%, rgba(252,227,138,1) 100%,); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(243,129,129,1) 0%, rgba(252,227,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#f38181'', endColorstr='#fce38a',GradientType=0 ); /* IE6-9 */
	img{
		opacity: 0.3;
	}
}
.content-title {
	margin: 30px 0px 15px 0px;
	text-transform: uppercase;
	font-family: Montserrat;
	text-align: center;	
}
.content-text {
	text-align: center;	
	color: 	#999;
}
@media (max-width: 	1230px) {
	.main__body7{
		justify-content: space-evenly;	
	}
}
.main__company7{
	background: #f8f8f8;
	padding: 50px 0px;
	margin: 0px 0px 110px 0px;	
}
.main__logo-company{
	img{
		max-width: 100%;
	}
}
/*=====================MAIN_BLOCK8==============================*/
.main__block8 {
	margin-bottom: 130px;

}
.content8 {}
.conteny8__text-blocks {
	margin-bottom: 102px;
	
}
.content8__subtitle {}
.content8__title {}
.content8__text {}

.content8__block-imges {
	margin-bottom: 100px;
}
.content8__imgsx {
	
}
.content8__imgesa {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	img{
		max-width: 100%;
	}
	.x{
		margin: -309px 0px 0px 0px;
	}
	.s{
		margin: -309px 0px 0px 380px;
	}
}
.conteny8__slaider {
	padding: 0px 25px 0px 33px;
}
.slaider {
	display: flex;
}
.slaider__img {
	position: relative;
	padding-left: 20px;
	img{
		border-radius: 50%;
		max-width: 100%;
	}
}
.slaider__img:before,
.slaider__img:after{
	content: '';
	position: absolute;
	top: 50%;
	left: -20px;
	width: 11px;
	height: 2px;
	background: #cccccc;
}
.slaider__img:before{
	transform:rotate(-45deg);
}
.slaider__img:after{
	top: 53%;
	transform:rotate(45deg);
}
.slaider__texts {
	position: relative;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slaider__texts:before,
.slaider__texts:after{
	content: '';
	position: absolute;
	top: 50%;
	right: -60px;
	width: 11px;
	height: 2px;
	background: #cccccc;
}
.slaider__texts:before{
	transform:rotate(45deg);
}
.slaider__texts:after{
	top: 53%;
	transform:rotate(-45deg);
}
.slaider__img:before{
	transform:rotate(-45deg);
}
.slaider__img:after{
	top: 53%;
	transform:rotate(45deg);
}
.text {
	font-size: 24px;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #999;
	max-width: 800px;

}
.subtext{
	text-align: left;
	padding-left: 70px;
	position: relative;
	top: 0;
}
.subtext:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 60px;
	height: 3px;
	background: #f38181;
}
/*===================main_blockc9=========================*/
.main__block9{
	margin-bottom: 110px;
	// position: relative;
}
.main9__bg{
	// position: absolute;
	// top: 0;
	// left: 0;
	// z-index: 2;
	// object-fit: cover;
	// background: #aaa;
	img{
		opacity: 0.2;
	}
}
.main9{
	position: relative;
	padding-top: 110px;
	margin-bottom: -750px;
	z-index: 5;
}
.main__subtitle9{
	margin-bottom: 16px;
}
.main9__content{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	padding-left: 50px;
}
.main9__block{
	display: flex;
	margin: 35px 0px;
}
.main9__img{
	img{
		border-radius: 50%;
	}
}
.main9__texts{
	margin: 12px 0px 0px 30px;
}
.main9__text-name{
	text-transform: uppercase;
	font-weight: 500;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color: #333;
	margin-bottom: 15px;
}
.main9__text-subname{
	position: relative;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.6;
	text-align: left;
	color: #555;
	margin-bottom: 33px;
}
.main9__text-subname:after{
	content: '';
	position: absolute;
	top: 33px;
	left: 0;
	width: 60px;
	height: 3px;
	background: #f38181;

}
.main9__text{
	line-height: 1.6;
	font-size: 15px;
	color: #999;
	max-width: 375px;
}
/*====================main10=========================*/
.main10__block{
	margin-bottom: 115px;
	display: inline-block;
	max-width: 380px;
	font-size: 15px;
}
.main10__contetent{
	display: flex;
	justify-content: space-between;
}
.main10__subtitle{
	margin-bottom: 22px;
}
.main10__img-content{
	position: relative;
	margin-bottom: 20px;
	img{
		max-width: 100%;
	}
}
.main10__stick{
	position: absolute;
	bottom: 10px;
	left: -10px;
	width: 60px;
	height: 70px;
	background: #95e1d3;
	text-align: center;
	padding-top: 12px;
	span{
		display: block;
		font-size: 30px;
		font-weight: 700;
	}
}
.main10__texts-content{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.main10__title-content{
	margin: 10px 0px;
	color: #333;
	font-weight: 500;
	text-transform: uppercase;
}
.main10__text-content{
	line-height: 1.6;
	color: #999;
	margin-top: 10px;
	padding-bottom: 20px;
}
.main10__comm{
	color: #999;
	img{
		margin-right: 7px;
	}
	span{
		margin-right: 18px;
	}
}
/*=====================main11======================*/
.bg_img{
	position: relative;

}
.bg_img:after{
	content: '';
	visibility: hidden;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%,0);
	width: 60px;
	height: 3px;
	background: #f38181;
}

.bg_img:hover{
	img{
		opacity: 0.3;
	}
	.map{
		display: flex;
	}
	.map img{
		opacity: 1;
	}
	&:after{
		visibility: visible;
	}
}
.map{
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	color: #f38181;
	font-weight: 700;
	font-size: 24px;
	img{
		opacity: 1;
		max-width: 20px;
		margin-bottom: 18px;
	}
}


/*====================footer========================*/
.footer{
	color: #cccccc;
	flex-direction: column;
}
.footer-div {
	background: #f8f8f8;
}
.footer__content {
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 1px solid #e5e5e5;

}
.footer_item{
	flex: 0 0 481px;
}
.footer_item2{
	flex: 0 0 340px;
}
.footer_item3{
	flex: 0 0 275px;
	
}
.footer__text {
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	color: #999;
}
.footer__text2{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-align: left;
	font-weight: 500;
	color: #333;
	padding-bottom: 18px;
	margin-bottom: 18px;
	border-bottom: 1px solid #e5e5e5;
	span{
		font-size: 18px;
		font-weight: bold;
	}
}
.footer__icons {
	display: flex;
	max-width: 300px;
	justify-content: space-between;
	.footer__text{
		margin-right: 23px;
		display: inline;
		margin: 0px 0px 0px;
	}
		
}
.footer__email {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	input{
		padding-left: 13px;
		width: 230px;
		height: 40px;
		border: 1px solid #e7e7e7;
		margin: -4px;
	}
	button{
		width: 145px;
		height: 40px;
		text-transform: uppercase;
		color:#fff;
		text-align: center;
		vertical-align: middle;
		background: #95e1d3;
		margin: 0;
	}
}
.footer__title {
	text-transform: uppercase;
	margin-bottom: 40px;
	color: #333333;
	font-weight: 600;

}
.footer__logo{
	margin-bottom: 42px;
}
.footer__blog {
	display: flex;
	margin-bottom: 30px;
	img{
		object-fit: cover;
		max-width: 100%;
		margin-right: 20px;

	}
}
.footer__blog-texts {
	max-width: 200px;
	
}
.footer__text-blog {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #333;
	margin-bottom: 12px;
}
.footer__blog-date {}
.footer__instaIMGS {
	img{
		margin: 1px -2px 1px 1px;
	}
}
.footer__end{
	margin-top: 24px;
	padding-bottom: 22px;
	color: #333333;
	text-align: center;
	font-weight: 500;
	span{
		color: #f38181;
	}
}